PORT=3000
RABBITMQ_USER=appuser
RABBITMQ_PASSWORD=change-me
RABBITMQ_URL=amqp://appuser:change-me@localhost:5672
RABBITMQ_QUEUE=learning_queue
KAFKA_BROKERS=localhost:29092
KAFKA_TOPIC=learning.events
KAFKA_GROUP_ID=learning-consumer-group
GRPC_PORT=50051
GRPC_AUTH_TOKEN=development-token
GRPC_TLS=false
# Set these when GRPC_TLS=true
# GRPC_TLS_CERT=./certs/server.crt
# GRPC_TLS_KEY=./certs/server.key
# GRPC_TLS_CA=./certs/ca.crt
