PORT=3000
RABBITMQ_USER=appuser
RABBITMQ_PASSWORD=change-me
RABBITMQ_URL=amqp://appuser:change-me@localhost:5672
RABBITMQ_QUEUE=learning_queue
KAFKA_BROKERS=localhost:29092
KAFKA_TOPIC=learning.events
KAFKA_GROUP_ID=learning-consumer-group
